Source: ureyes
Section: python
Priority: extra
Build-Depends: cdbs (>= 0.4.43),
 debhelper (>= 6),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Cristian Gabriel Escudero <escudero89@gmail.com>
Standards-Version: 3.8.3
XS-Python-Version: current

Package: ureyes
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 python-notify,
 python-gobject-2,
 python-launchpad-integration,
 python-gtk2,
 python-desktopcouch-records,
 yelp
Description: App for eye care
 Small app that reminds you to take care of your eyes
